@page
@model MyRazorProject.Pages.CreateArticleModel
@{
    ViewData["Title"] = "ایجاد مقاله ی جدید";
}

@if(Model.ErrorMessage!=null)
{
    <h1 align="center"style="color:red">@Model.ErrorMessage</h1>
}
<h1 align="center" style="color:royalblue">ایجاد مقاله ی جدید</h1>
<form align="center" method="post">
    <label asp-for="@Model.Command.Title"></label>
    <input type="text" asp-for="@Model.Command.Title" />
    <span asp-validation-for="@Model.Command.Title"></span>
    <br />
    <label asp-for="@Model.Command.Picture"></label>
    <input type="text" asp-for="@Model.Command.Picture"/>
    <span asp-validation-for="@Model.Command.Picture"></span>
    <br />
    <label asp-for="@Model.Command.PictureAlt"></label>
    <input type="text" asp-for="@Model.Command.PictureAlt" />
    <br />
    <label asp-for="@Model.Command.PictureTitle"></label>
    <input type="text" asp-for="@Model.Command.PictureTitle" />
    <br />
    <label asp-for="@Model.Command.ShortDescription"></label>
    <input type="text" asp-for="@Model.Command.ShortDescription"/>
    <span asp-validation-for="@Model.Command.ShortDescription"></span>
    <br />
    <label asp-for="@Model.Command.Body"></label>
    <input type="text" asp-for="@Model.Command.Body" />
    
    <br />
    <button type="submit">ایجاد مقاله</button>
</form>
