@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}
<div class="col-12 mb-3">
    <div class="row">
        <div class="border-bottom col-3 ml-auto mr-auto text-center">
            <h2>تازه ترین مقالات</h2>
        </div>
    </div>
</div>
<br />
@foreach(var article in Model.Articles)
            {
                <img style="text-align:center" src="@article.Picture"alt="@article.PictureAlt"title="@article.PictureTitle" />
                <br />
                <h1 style="text-align:center">@article.Title</h1>
                <br />
                <p style="text-align:center">@article.ShortDescription</p>
                <br />
                <br />
                <h2 style="color:royalblue;text-align:center">@article.CreationDate</h2>
                <br />
                <hr />
                <a style="text-align:center" asp-page="/Article-Details" asp-route-id="@article.Id" >ادامه مطلب</a>
                <a asp-page="/Index"asp-page-handler="Delete"asp-route-id="@article.Id">حذف</a>
                
            }


